<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1VxDWZzNmc00KVw4rGMUEW6-c9VW8Xhc</string>
	<key>GCM_SENDER_ID</key>
	<string>992489982964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fawaz.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messanger-c96a5</string>
	<key>STORAGE_BUCKET</key>
	<string>messanger-c96a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992489982964:ios:084900b0079636273887a1</string>
</dict>
</plist>